<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Dojo Survey Index</title>
</head>
<body>
    <div id="container">
        <h1>Dojo Survey</h1>
        <form action='/results' method='GET'>
            <label>Your Name: </label>
            <input type="text" name="user_name" id="user_name">

            <label for="location">Dojo Location: </label>
                <select name="location" id="location">
                    <option value="new_york" name="location">New York</option>
                    <option value="virginia" name="location">Virginia</option>
                    <option value="ohio" name="location">Ohio</option>
                    <option value="illinois" name="location">Illinois</option>
                    <option value="florida" name="location">Florida</option>
                </select>

            <label for="language">Favorite Language: </label>
                <select name="language" id="language">
                    <option value="python">Python</option>
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="javascript">Javascript</option>
                    <option value="mern">MERN</option>
                </select>

            <label for="comment">Comment: </label>
            <input id="comment" type="text" name="comment" placeholder="optional">

            <input type="submit" id="submit" name="submit">
        </form>
    </div>
</body>
</html>

