<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (One)</title>
</head>
<body>
    <h1>User {{userinfo.id}}</h1>
    <a href="/users">Home</a>
        <p>Full Name: {{userinfo.first_name}} {{userinfo.last_name}}</p>
        <p>Email: {{userinfo.email}}</p>
        <p>Created On: {{userinfo.created_at}}</p>
        <p>Last Updated On: {{userinfo.updated_at}}</p>
    </table>
    <a href="/users/{{userinfo.id}}/edit">Edit</a>
    <a href="/delete/{{userinfo.id}}">Delete</a>
</body>
</html>